@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-right: 120px; */
}

.box img {
    z-index: 1;
}

.box::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#fbbd14, #fceabb);
    animation: animate 1s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #000;
    border-radius: 50%;
}

.box:first-child {
    margin-right: 100px;
}

.box:last-child {
    margin-left: 100px;
}