@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-right: 120px; */
}

.box img {
    z-index: 1;
}

.box::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#fbbd14, #fceabb);
    animation: animate 1s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 1px;
    background: #000;
    border-radius: 50%;
}

.box:first-child {
    margin-right: 100px;
}

.box:last-child {
    margin-left: 100px;
}

.containerPhone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
}
.second-row,
.third-row {
    display: flex;
    flex-direction: row;
}

p {
    color: #fff;
    font-size: 18pt;
    margin-top: -10px;
    font-weight: bold;
}
.third-row p {
    margin-right: 60px;
    margin-left: 15px;
}

.icon {
    width: 110px;
    height: 110px;
}

.icon-small {
    width: 80px;
    height: 80px;
}

.icon-medium {
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }

    .box::before {
        width: 130px;
        height: 130px;
        background: transparent;
        border: 1px solid #fbbd14;
    }

    .box:first-child {
        margin-right: 0px;
    }

    .box:last-child {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) {
    .containerPhone {
        display: none;
    }
}
