@font-face {
    font-family: 'PalosecoMedium';
    src: local('PalosecoMedium'),
        url('./assets/fonts/Paloseco-Medium.ttf') format('truetype');
}
/* @font-face {
    font-family: 'CustomFont2Name':
    src: local('CustomFont2Name'),
         url('./fonts/CustomFont2Name.woff') format('woff'),
         url('./fonts/CustomFont2Name.woff2') format('woff2');
} */
